<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/css/site.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-brand">CRUD Operations Demo</div>
			<ul>
				<li><a asp-action="Index" asp-controller="Persons">Persons</a></li>
			</ul>
		</div>
		<div class="page-content">
			@RenderBody()
		</div>
	</div>
</body>
</html>
