@model PersonUpdateRequest

@{
	ViewBag.title = "Edit Person";
	var genderOptions = (string[])Enum.GetNames(typeof(GenderOptions));
}



<div class="center-box">
	<a asp-action="Index" class="link-hover">Back to Persons List</a>
	@*Edit form*@
	<form asp-action="Edit" method="post">
		<input type="hidden" asp-for="Id" />
		@*Person name*@
		<div class="form-field flex">
			<div class="w-25">
				<label class="form-label pt" asp-for="PersonName">Person Name</label>
			</div>
			<div class="w-25">
				<input asp-for="PersonName" class="form-input" />
				<span asp-validation-for="PersonName" class="text-red"></span>
			</div>
		</div>

		@*Email*@
		<div class="form-field flex">
			<div class="w-25">
				<label class="form-label pt" for="Email">Email</label>
			</div>
			<div class="w-25">
				<input asp-for="Email" class="form-input" />
				<span asp-validation-for="Email" class="text-red"></span>
			</div>
		</div>

		@*Date of birth*@
		<div class="form-field flex">
			<div class="w-25">
				<label class="form-label pt" asp-for="DateOfBirth">Date of birth</label>
			</div>
			<div class="w-25">
				<input asp-for="DateOfBirth" class="form-input" />
				<span asp-validation-for="DateOfBirth" class="text-red"></span>
			</div>
		</div>

		@*Gender*@
		<div class="form-field flex">
			<div class="w-25">
				<label class="form-label pt" asp-for="Gender">Gender</label>
			</div>
			<div class="flex-1">
				@foreach (var gender in genderOptions)
				{
					<input type="radio" asp-for="Gender" value="@gender" />
					<label for="@gender">@gender</label>
				}
				<span asp-validation-for="Gender" class="text-red"></span>
			</div>
		</div>

		@*Country*@
		<div class="form-field flex">
			<div class="w-25">
				<label class="form-label pt" asp-for="CountryId">Country</label>
			</div>
			<div class="w-25">
				<select asp-for="CountryId" asp-items="@ViewBag.countries" class="form-input">
					<option value="">Please select</option>
				</select>
				<span asp-validation-for="CountryId" class="text-red"></span>
			</div>
		</div>

		@*Recieve news letters*@
		<div class="form-field flex">
			<div class="w-25">
			</div>
			<div class="w-25">
				<input asp-for="ReceiveNewsLetters" value="true" />
				<label asp-for="ReceiveNewsLetters">Receive News Letters</label>
			</div>
		</div>

		@*Address*@
		<div class="form-field flex">
			<div class="w-25">
				<label class="form-label pt" asp-for="Address">Address</label>
			</div>
			<div class="w-25">
				<textarea asp-for="Address" class="form-input"></textarea>
				<span asp-validation-for="Address" class="text-red"></span>
			</div>
		</div>

		@*Tax Identification Number*@
		<div class="form-field flex">
			<div class="w-25">
				<label class="form-label pt" for="TIN">TIN</label>
			</div>
			<div class="w-25">
				<input asp-for="TIN" class="form-input" />
				<span asp-validation-for="TIN" class="text-red"></span>
			</div>
		</div>

		@*Submit*@
		<div class="form-field flex">

			<div class="w-25">
				<button class="button button-green-back">Update</button>
			</div>
		</div>
	</form>
</div>